:root {
    --first-color: #1f2937;
    --second-color: #f9faf8;
    --third-color: #e5e7eb;
    --button-color: #3882f6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

p,
h3 {
    margin: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: var(--first-color);
}

.header .wrapper {
    padding: 1rem 13rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 900;

    margin: 0;
}

.logo a {
    color: var(--second-color);
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-navigation a {
    display: inline-block;
    color: var(--third-color);
    font-size: 18px;
}

.header-navigation ul {
    display: flex;
    column-gap: 25px;
}

.header-navigation li {
    padding: 6px 0;
}

.top {
    background-color: var(--first-color);
    color: var(--second-color);
}

.top .wrapper {
    padding: 5rem 12rem 7.2rem;
    display: flex;
    justify-content: space-between;
}

.top-content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3rem 1.5rem 1rem;
    width: 48%;
    flex: 1 1 auto;
}

.top .title {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
}

.top-content p {
    margin: 0;
    font-size: 18px;
    color: var(--third-color);
    margin-bottom: 10px;
}

.top-content button {
    align-self: flex-start;
    padding: 6px 33px;
    font-size: 18px;
    font-weight: 400;
    color: var(--second-color);
    background-color: var(--button-color);
    border-radius: 10px;
    border: 0;
    text-align: center;
}

.img-cover {
    width: 50%;
    text-align: center;
    flex: 1 1 auto;
    padding: 1rem 1rem 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #6f7d90;
}

.top-img {
    display: inline-block;
    max-width: fit-content;
    height: auto;
    max-height: 250px;
}

.info .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3rem 6rem;
    color: var(--first-color);
}

.info .title {
    font-size: 36px;
    margin: 0;
}

.info-container {
    display: flex;
    padding-top: 1.5rem;
}

.info-block {
    width: 170px;
    margin: 23px;
}

.info-block img {
    width: 170px;
    height: 170px;
    border: 4px solid rgb(0, 115, 255);
    border-radius: 15px;
}

.info-block p {
    text-align: center;
    font-size: 18px;
}

.quote {
    background-color: var(--third-color);
}

.quote .wrapper {
    display: flex;
    color: var(--first-color);
    padding: 8rem 19rem 6.5rem 21.5rem;
    flex-direction: column;
}

.quote .text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote .author {
    align-self: flex-end;
    font-size: 24px;
    padding-right: 30px;
}

.action {
    padding: 5rem 0;
}

.action .wrapper {
    background-color: var(--button-color);
    color: var(--second-color);
    margin: 1rem auto;
    max-width: 1020px;
    padding: 3.1rem 7.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
}

.action .left-part h3 {
    font-size: 24px;
}

.action .left-part p {
    font-size: 18px;
}

.action button {
    font-size: 18px;
    padding: 0px 30px;
    margin: 9px 0 5px;
    border: 2px solid var(--second-color);
    background: var(--button-color);
    color: var(--second-color);
    border-radius: 7px;
}